<mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="selected">
        <mat-header-cell *matHeaderCellDef class="column-options">
            <mat-checkbox 
            (change)="$event ? onChangeSelectAll($event.checked) : null"
            [checked]="isAllSelected()" color="primary"></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column-options">
            <mat-checkbox [checked]="row.selected" 
            (change)="onChangeSeleccionado($event.checked, row)"
            color="primary"></mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef class="column-options"></mat-header-cell>
        <mat-cell *matCellDef="let row" class="column-options">
            <button mat-icon-button matTooltip="Opciones" 
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
                <mat-icon color="primary">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/editar-elemento', row.position]">
                    <mat-icon color="primary">edit</mat-icon>
                    <span>Modificar</span>
                </button>
                <button mat-menu-item (click)="onDelete(row)">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Eliminar</span>
                </button>
            </mat-menu>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>{{ 'No.' | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{ 'Nombre' | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef>{{ 'Peso' | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.weight }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef>{{ 'Simbolo' | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.symbol }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [class]="row.type | elementClass" *matRowDef="let row; columns: displayedColumns" (click)="onClickRow(row)" [class.selected]="selectedRow === row"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>