<p>home works!</p>
<!-- <p>{{fecha | demoDate }}</p>
<div *ngIf="true">Prueba</div>

<p>{{ numero | currency:'CAD':'symbol':'2.2-2' }}</p>
<p>{{ numero | currency:'CAD':'symbol-narrow':'2.2-2' }}</p>
<p>{{ numero | currency:'JPY':'symbol':'2.2-2':'ja' }}</p>
<p>{{ porcentaje | percent: '2.2-2':'ja' }} </p>
<p>{{ numero | number:'2.2-2' }}</p>
<p>{{ texto | uppercase }}</p>
<p>{{ texto | lowercase }}</p>

<p>{{fecha | date }}</p>
<p>{{fecha | date:'shortDate' }}</p>
<p>{{fecha | date: 'MMMM d, y, h:mm:ss a z'}}</p>

<ul>
    <li *ngFor="let item of items | slice: 1:2">{{item}}</li>
</ul> -->
<!-- <input [(ngModel)]="estadoSeleccionado" type="text"> -->
<!-- <input [ngModel]="estadoSeleccionado" type="text" (ngModelChange)="estadoSeleccionado = $event"> -->
<!-- <input [(ngModel)]="estadoSeleccionado" type="text">
<p [ngStyle]="bandera ? {color: 'red', margin: '10px'} : {color:'blue', margin: '20px'}">{{estadoSeleccionado}}</p>
<button (click)="onClickCambiarEstado()">Cambiar Estado</button>
<div [ngSwitch]="estadoDocumento">
    <ng-container *ngSwitchCase="'F'">
        <p>Facturada</p>
    </ng-container>
    <ng-container *ngSwitchCase="'A'">
        <p>Autorizada</p>
    </ng-container>
    <ng-container *ngSwitchCase="'C'">
        <p>Cancelada</p>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <p>Sin Estado</p>
    </ng-container>
</div>


<ng-container *ngIf="bandera else elseIF">
    <p>Entro Al IF</p>
</ng-container>

<ng-template #elseIF>
    <p>No entro al IF</p>
</ng-template> -->

<h1 demoColors>HOLA MUNDO :)</h1>
<img src="https://xestaticos.elcolombiano.com/binrepository/842x1080/-179c0/1200d627/none/11101/NQXP/homero-simpson_42360908_20230512163831.jpg" 
width="300" height="300"  demoDemoimage 
imgDefault="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS291kLsoy1WRHLjgBo7QpwFL9sNtEu9Ua-og&usqp=CAU">